name: BuildAndTestonEveryPushLinux.yml

on:
  push:
    branches-ignore:
      - master

jobs:
  build:
    name: Build on ubuntu-latest
    runs-on: ubuntu-latest
  

   
    steps:
    - uses: actions/checkout@v1
    
    - name: set up docker
      run: docker run -d --hostname my-rabbit -p 9080:15672 -p 5772:5672 -e RABBITMQ_DEFAULT_USER=agent -e RABBITMQ_DEFAULT_PASS=agent123  rabbitmq:3.7-management

    - name: Build
      run: dotnet build
    
    - name: Test
      env:
        HIQ_RABBITMQ_CONNECTIONSTRING:  ${{ secrets.HIQ_RABBITMQ_CONNECTIONSTRING }}
      run: dotnet test
      
    - name: Pack release version of task
      run: dotnet pack --configuration Release --include-source
      
    - name: Push NuGet package to the testfeed
      run: dotnet nuget push Frends.Community.RabbitMQ/bin/Release/Frends.Community.RabbitMQ.*.nupkg  --api-key ${{ secrets.COMMUNITY_FEED_API_KEY }} --source https://www.myget.org/F/frends-community-test/api/v2/package --symbol-source https://www.myget.org/F/frends-community-test/symbols/api/v2/package
